<a class="p-link" href="https://www.criminalip.io/asset/report/{{block.entity.value}}">
  Run search in Criminal IP {{fa-icon icon="external-link-square" fixedWidth=true class="external-link"}}
</a>
<h1 class="p-title">{{fa-icon icon="info" fixedWidth=true}} Score</h1>
<div>
  <span class="p-key">Inbound Score:</span>
  <span class="p-value">
    {{details.inboundScore.percent}}%
    (<span class="score {{details.inboundScore.display}}">{{details.inboundScore.display}}</span>)
  </span>
</div>
<div>
  <span class="p-key">Outbound Score:</span>
  <span class="p-value">
    {{details.outboundScore.percent}}%
    (<span class="score {{details.outboundScore.display}}">{{details.outboundScore.display}}</span>)
  </span>
</div>

<h1 class="p-title">{{fa-icon icon="tags" fixedWidth=true}} Tags</h1>
<div>
  <span class="p-key">VPN:</span>
  <span class="p-value">{{#if details.tags.is_vpn}}Yes{{else}}No{{/if}}</span>
</div>
<div>
  <span class="p-key">Cloud:</span>
  <span class="p-value">{{#if details.tags.is_cloud}}Yes{{else}}No{{/if}}</span>
</div>
<div>
  <span class="p-key">TOR:</span>
  <span class="p-value">{{#if details.tags.is_tor}}Yes{{else}}No{{/if}}</span>
</div>
<div>
  <span class="p-key">Proxy:</span>
  <span class="p-value">{{#if details.tags.is_proxy}}Yes{{else}}No{{/if}}</span>
</div>
<div>
  <span class="p-key">Hosting:</span>
  <span class="p-value">{{#if details.tags.is_hosting}}Yes{{else}}No{{/if}}</span>
</div>
<div>
  <span class="p-key">Mobile:</span>
  <span class="p-value">{{#if details.tags.is_mobile}}Yes{{else}}No{{/if}}</span>
</div>
<div>
  <span class="p-key">Darkweb:</span>
  <span class="p-value">{{#if details.tags.is_darkweb}}Yes{{else}}No{{/if}}</span>
</div>
<div>
  <span class="p-key">Scanner:</span>
  <span class="p-value">{{#if details.tags.is_scanner}}Yes{{else}}No{{/if}}</span>
</div>
<div>
  <span class="p-key">Snort:</span>
  <span class="p-value">{{#if details.tags.is_snort}}Yes{{else}}No{{/if}}</span>
</div>

{{#if (gt details.portSummary.length 0)}}
  <h1 class="p-title">{{fa-icon icon="globe" fixedWidth=true}} Open Ports</h1>
  {{#each details.portSummary as | port | }}
    <span class="port">{{port}}</span>
  {{/each}}
{{/if}}

{{#if (gt details.ip_category.length 0)}}
  <h1 class="p-title">{{fa-icon icon="globe" fixedWidth=true}} Categories</h1>
  {{#each details.ip_category as | category |}}
    <div class="mb-2">
      <div>
        <span class="p-key">Source:</span>
        <span class="p-value">{{category.detect_source}}</span>
      </div>
      <div>
        <span class="p-key">Type:</span>
        <span class="p-value">{{category.type}}</span>
      </div>
      {{#if category.confirmed_time}}
        <div>
          <span class="p-key">Confirmed Time:</span>
          <span class="p-value">{{category.confirmed_time}}</span>
        </div>
      {{/if}}
    </div>
  {{/each}}
{{/if}}

{{#if (gt details.domain.length 0)}}
  <h1 class="p-title">{{fa-icon icon="globe" fixedWidth=true}} Domains</h1>
  {{#each details.domain.data as | domain |}}
    <div class="mb-2">
      <div>
        <span class="p-key">Domain:</span>
        <span class="p-value">{{domain.domain}}</span>
      </div>
      <div>
        <span class="p-key">Type:</span>
        <span class="p-value">{{domain.ip_type}}</span>
      </div>
      {{#if domain.registrar}}
        <div>
          <span class="p-key">Registrar:</span>
          <span class="p-value">{{domain.registrar}}</span>
        </div>
      {{/if}}
    </div>
  {{/each}}
{{/if}}